nav.navbar, .navbar-default {
  margin-bottom: 0;
  height: 90px;
  background: #666666;
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li {
  color: white;
  line-height: 60px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 30px;
  line-height: 60px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #cccccc;
  font-size: 35px;
}

.navbar-default .navbar-nav > li > a:focus {
  color:grey;
  font-size: 30px;
  background-color: #565656;
} 

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  
  background-color: transparent;
}

/* .logo {
  height: 100px;
  width: 150px;
} */
