nav.navbar, .navbar-default {
  /* background-color:transparent; */
  margin-bottom: 0;
  height: 100px;
  background: rgba(70, 70, 70, 0.5);
}

.navbar-default {
  background-image: none;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li {
  color: white;
  line-height: 60px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 30px;
  line-height: 60px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #c4c4c4;
  font-size: 35px;
}

.navbar-default .navbar-nav > li > a:focus {
  color:grey;
  font-size: 30px;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  /* color: green; */
  background-color: transparent;
}

/*.logo {
  height: 100px;
  width: 150px;
} */