.footer-head {
    /*background-color: transparent !important; */
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    /* background: rgba(70, 70, 70, 0.5); */
};
