.jumbotron {
  margin-bottom: 4em;
  background-color:transparent !important;
}

.p{
  text-align: left;
}

.person-wrapper {
  margin-bottom: 2em;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
  width: 150px;
}

h3 {
  margin-bottom: 1em;
}
.homeContainer {
  height: 100%;
}
.container {
  width: auto;
}