.subCol {
  border: 2px;
  /* background: rgba(128, 128, 128, 0.4); */
  align-content: center;
  padding:15px;
}

.service-pic {
  width: 250px;
  height: 200px;
}

.h3{
  color: #2892d7;
  font-weight: bold;
}